<!DOCTYPE html>
<html lang="en">

<head>
    <title>US Today Scarper</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/javascript/index.js"></script>
    
</head>

<body>

        <div class="container-fluid">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo center">Article Scraper</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="left hide-on-med-and-down">
                            <li><a href="#">Home</a></li>
                            <li><a href="#" onclick="displaySaved()">Saved Articles</a></li>     
                        </ul>
                        <ul class="right hide-on-med-and-down">
                          <button data-target="scrape-article" id = "scrapeBtn" class="btn waves-effect waves-light grey modal-trigger" onclick="displayResults()">Scrape Articles</button>
                        </ul>
                    </div>
                </nav>
        </div>
        <div class="row">
            <div class="col s12 m4 l4" id="ust0">
            </div>
            <div class="col s12 m4 l4" id="ust1">
            </div>
            <div class="col s12 m4 l4" id="ust2">
            </div>
        </div>
        <!-- Modal for scraping article information-->
        <div id="scrape-article" class="modal">
                <div class="modal-content">
                    <h4>Number of Articles Scrapped</h4>
                    <h4 id="total-number"></h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-action modal-close waves-effect waves-blue btn">Close</a>
                </div>
            </div>
        </div>
        <div id="notes" class="modal">
                <div class="modal-content">
                    <form>
                        <h4 id="display-title"></h4>
                        <div id="display-note"></div>
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Enter Notes Here</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn" id="savenote">Save Note</a>
                </div>
        </div>

    

</body>

</html>