<!DOCTYPE html>
<html lang="en">

<head>
    <title>US Today Scarper</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>

        <div class="container-fluid">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo center">Article Scraper</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="left hide-on-med-and-down">
                            <li><a href="#">Home</a></li>
                            <li><a href="#" onclick="displaySaved()">Saved Articles</a></li>     
                        </ul>
                        <ul class="right hide-on-med-and-down">
                          <button data-target="scrape-article" class="btn waves-effect waves-light grey modal-trigger" onclick="displayScrape()">Scrape Articles</button>
                        </ul>
                    </div>
                </nav>
        </div>

    

</body>

</html>