.nav-wrapper {
    background-color:#63019b;
}


body {
    background-image: url("../images/background.png");
}

.card-action a {
    color: black !important;
}

.delete-button {
    margin-left: 9px;
}
